.wrapper {
    display: flex;
    align-items: row;
}

.image {
    display: flex;
    size: 1%;
    border: 2px solid #555;
    border-radius: 25px;
    margin: 5px;   
}

.details {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 5px;
}

.desc {
    position: relative;
    margin: 5px 15px 5px 15px;
    padding: 5px;
    font-size: 20px;
}

.price {
    position: relative;
    font-size: 25px;
    font-weight: 600;   
}
