
/* Header */
.header {
    position: sticky;
    top: 0;
    background-color: whitesmoke;
    height: 60px;
    width: 100%;
    box-shadow: 0 1px 2px hsla(0,0%,0%,0.05), 0 1px 4px hsla(0, 0%, 0%, 0.05), 0 2px 8px hsla(0, 0%, 0%, 0.05);
}

.navbar {
    display: flex;
    align-items: center;    
}

.logo {
    margin-right: auto;
    font-size: 32px;
    font-family: Verdana, Geneva, Tahoma, serif;
    text-decoration: none;
    color: black;
}

/* Header */


/* Buttons */
.btn__group {
    display: flex;
    margin-left: auto;
}

/* Buttons */

/* Containers */
.grid {
    margin: 0 auto;
    padding: 15px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 1600px;
}

.grid .card:nth-child(even){
    background-color: #dee3f0;
}

/* Containers */

/* Card */
.card {
    margin-bottom: 15px;
    width: 250px;
    height: 450px;
    border: 1px solid blue;
    border-radius: 10px;
    background-color: #f0f8ff;  
}


.card:hover {
    box-shadow: -5px 5px 10px rgba(210,210,210, 0.6);
}

.product__image {
    width: 15em;
    height: 15em;
    margin: 5px;
    border-radius: 10px;
}

.product__name {
    text-align: start;
    padding: 3px;
    font-size: 20px;
    font-weight: 100;
    color: rgba(0,0,0,0.6);
}

.product__price {
    text-align: start;
    padding: 3px;
    margin: 5px;
    font-size: 30px;
    font-weight: 600;
}


.product__more {
    text-decoration: none;
    color: #000;
    text-align: end;
    padding: 5px;
    margin: 15px;
}

.product__more:hover {
    opacity: 0.85;
}

/* Card */